{% extends 'base.html.twig' %}

{% block body %}
    <h1>oxelmoxel theme</h1> goes here<br />
    <h4>{{ 'hello_world'|trans }}</h4>
    <h3>{{ 'inherit_stuff'|trans }}</h3>
    <b>and thats how it goes</b>
    <br/>

{% endblock %}