{% extends 'base.html.twig' %}
{% block body %}
    thats freaking awesome isnt it?
    <h4>{{ 'hello_world' |trans }}</h4>
    <h3>{{ 'inherit_stuff' |trans }}</h3>
    <b>and thats how it goes</b>
    <br/>
asdfasdf
asdf
a
sdf
as
df
asd
f
asdfa
    !wtf - scss and the likes needs to be solved anyway
{% endblock %}